{% extends "hunts/admin/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'hunts_guesses' 'css' %}
{% endblock %}

{% block title %}
Admin Guess List - {{ block.super }}
{% endblock %}

{% block script %}
{% render_bundle 'hunts_guesses' 'js' attrs='defer' %}
{% endblock %}

{% block header %}
<header class="flex-shrink-0 pt-3">
	<h1>Guesses</h1>
</header>
{% endblock %}

{% block main %}
<main class="flex-shrink-0 container-fluid pt-3">
	<div id="admin-guess-list" data-href="{% url 'guesses_list' %}" />
</main>
{% endblock %}

